@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-oswald: 'Oswald', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  color: #18181b;
  font-family: 'Roboto', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.oswald-custom {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: clamp(1.125rem, 4.5vw, 1.865rem);
  font-stretch: 100%;
  font-style: normal;
  font-optical-sizing: auto;
  font-kerning: auto;
  font-feature-settings: normal;
  font-variant-caps: normal;
}
